attrs==19.3.0
distro-info===0.18ubuntu0.18.04.1
Django==2.2.8
django-allauth==0.37.1
django-cors-headers==2.4.0
django-rest-auth==0.9.3
djangorestframework==3.8.2
gunicorn==19.7.1
Jinja2==2.10
oauth==1.0.1
oauthlib==2.1.0
olefile==0.45.1
onboard==1.4.1
Pillow==9.0.0
pipenv==2018.11.26
plainbox==0.25
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.0.0
ptyprocess==0.6.0
py4j==0.10.7
pylint==2.3.1
qtconsole==4.6.0
reportlab==3.4.0
requests==2.21.0
requests-oauthlib==1.0.0
requests-unixsocket==0.1.5
six==1.11.0
sqlparse==0.3.0
system-service==0.3
systemd-python==234
urllib3==1.24.2
virtualenv==16.7.2
virtualenv-clone==0.5.3
whitenoise==3.3.1

